<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>登录</title>
 </head>
 <body>
 {% if ErrorMessage %}
 <h5>{{ErrorMessage}}</h5>
    {% endif %}
    <form method="POST">
        {{form.username.label}}
        {{form.username}}<br><br>
        {{form.password.label}}
        {{form.password}}<br><br>

        默认值学习：{{form.for1}}<br><br>
        单选框学习：{{form.for2}}<br><br>
        单选下拉框学习：{{form.for3}}<br><br>
        <input type="submit" value="submit"><br><br>
    </form>
</body>
</html>

<!--在模板中，多了{{form.username.label}}，这个意思就是把路由文件中类里定义的label名称显示出来-->
<!--注意到，标签的内容已经显示在了页面元素的前面，查看源码，标签的内容为label标签，用户名和密码输入框的html代码已被flask自动生成，且很规整。-->